Q 1.

 A for loop is used when you know exactly how many times you need to repeat a block of code

In [11]:
for i in range(0,5):
    print(i)

0
1
2
3
4

A while loop is used when you don't know how many times you need to repeat a block of code but you do know the condition that needs to be met in order to stop the loop

In [9]:
i = 0
while i <= 4 :
    print(i)
    i = i+1

0
1
2
3
4

Q 2. For loop

In [22]:
# l = [1,2,3,4,5,6,7,8,9,10]
sum = 0
product = 1
for i in range(1,11):
    sum = sum+i
    product = product*i
print("sum of first 10 number", sum)
print("product of first 10 natural number",product)

sum of first 10 number 55
product of first 10 natural number 3628800

sum by while loop

In [17]:
n = int(input("enter the number" ))
sum = 0
product = 1
i = 1
while i <= n:
    sum = sum+i
    product = product*i
    i = i+1
print("sum of first 10 natural number:",sum)
print("product of first 10 natural number",product)

enter the number 10

sum of first 10 natural number: 55
product of first 10 natural number 3628800

3.compute the electricity bill for a household

In [3]:
units = int(input("enter the unit" ))
if units <= 100:
    charge = units*4.5
elif units <= 200:
    charge = (100*4.5)+((units-100)*6)
elif units <= 300:
    charge = (100*4.5)+(100*6)+((units-200)*10)
else:
    charge = (100*4.5)+(100*6)+(100*10)+((units - 300)*20)
    print("total electricity bill ", charge)

enter the unit 310

total electricity bill  2250.0

4.calculate the cube of each number

In [8]:
cubes_divisible_list = []
for i in range(1,101):
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0 :
        cubes_divisible_list.append(i)

print(cubes_divisible_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [11]:
cube_divisible_list =[]
i = 1
while i<=100:
    cube = i*i*i
    if cube % 4 == 0 or cube % 5 == 0:
        cube_divisible_list.append(i)
    i = i+1
print(cube_divisible_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q.5 filter count vowels

In [6]:
string = "i want to become a data scientist"
vowels = "aeiou"
count = 0
for i in string:
    if i in vowels:
        count = count+1
print("the number of vowels in string",count )

the number of vowels in string 12